.to-do-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    height: 80vh;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    gap: 10px;
}

