.body-container{
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
}

.body-container > .todo-item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.body-container > .todo-item > input {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.body-container > .todo-item > span {
    flex-grow: 1;
}

.body-container > .todo-item > .buttons {
    margin-right: 10px;
    display: flex;
    gap: 5px;
}

.body-container > .todo-item > .buttons > button {
    padding: 2px;
    cursor: pointer;
}