.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-container > input {
    height: 30px;
    width: 50%;
    padding: 0 8px;
    border: 1px solid #b2beb5;
    border-radius: 5px;
}

.header-container > button {
    height: 30px;
    padding: 0 8px;
}

.header-container > img {
    margin-left: auto;
    height: 40px;
    width: 40px;
}